:root {
  --colour1: #000d2f;
  --colour2: #d7e2ff;
  --backgroundcolour3: #eef3ff;
  --colour4: black;
  --colour5: white;
}

* {
  padding: 0;
  font-family: poppins, sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--backgroundcolour3);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  background: var(--colour1);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar li {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 1.8rem;
  margin-right: 36px;
}

.sidebar a {
  display: block;
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
}

.sidebar span {
  font-weight: semi-bold;
}

.sidebar i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.sidebar a.active {
  background-color: #fff;
  /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar li a:hover {
  background-color: #fff;
  /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
  color: var(--backgroundcolour3);
  border-radius: 30px 0px 0px 30px;
  color: #000;
  padding-left: 1rem;
}

.sidebar hr {
  margin-top: 261px;
  width: 75%;
  align-self: center;
}

.logout {
  color: #fff;
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  padding-left: 1.8rem;
}

.logout a i {
  font-size: 1.2rem;
  padding-right: 1.5rem;
}

.logout a:hover {
  background-color: #fff;
  color: var(--backgroundcolour3);
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding-left: 1rem;
  margin-right: 5rem;
}

/*Navbar*/

.navbar {
  position: fixed;
  margin-left: 300px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: +1;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar__right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 2rem;
}

.navbar__right ul li {
  margin-left: 2rem;
}

.navbar__right ul li a {
  color: #000;
  font-size: 1rem;
}

#userName {
  font-weight: bold;
}

#designation {
  font-size: 0.8rem;
}

.navbar__right ul li a i {
  font-size: 1.5rem;
}

.rectangle1 {
  position: absolute;
  width: 970px;
  height: 740px;
  left: 425px;
  top: 211px;

  background: rgba(215, 226, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.topic {
  position: absolute;
  width: 946px;
  height: 70px;
  left: 417px;
  top: 110px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 54px;
  text-align: center;

  color: #000000;
}

.fieldset1 {
  box-sizing: border-box;

  position: absolute;
  width: 940px;
  height: 270px;
  left: 440px;
  top: 250px;

  border: 1px solid #000000;
  border-radius: 15px;
}

.fieldset2 {
  box-sizing: border-box;

  position: absolute;
  width: 455px;
  height: 345px;
  left: 440px;
  top: 574px;

  border: 1px solid #000000;
  border-radius: 15px;
}

.fieldset3 {
  box-sizing: border-box;

  position: absolute;
  width: 455px;
  height: 345px;
  left: 925px;
  top: 574px;

  border: 1px solid #000000;
  border-radius: 15px;
}

.fieldset1 legend,
.fieldset2 legend,
.fieldset3 legend {
  margin-left: 40px;
  padding-left: 5px;
  padding-right: 5px;

  /*font-family: 'Poppins';
    font-style: normal;*/
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.lable {
  position: absolute;
  width: 282px;
  height: 24px;
  left: 466px;
  top: 323px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

.col1 {
  margin-left: 50px;
  width: 420px;
  padding-left: 50px;
  padding-top: 20px;
}

.col2 {
  padding-top: 30px;
  margin-left: 50px;
  width: 473px;
  padding-left: 50px;
}

.description {
  width: 339px;
  height: 120px;
  left: 466px;
  top: 357px;
}

.link {
  width: 420px;
  height: 74px;
  padding-left: 100px;
  top: 500px;
}

.fieldset1 textarea {
  border: none;
  height: 141px;
  border-radius: 10px;
  padding: 10px;
}

.fieldset1 i{
    position: absolute;
}

.icon1{
        padding-top: 115px;
        padding-left: 310px;
}
.icon2{
    padding-top: 50px;
    padding-left: 395px;
}

.fieldset1 input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

#submit-btn {
  margin: 20px 0px 20px 0px;
  width: 170px;
  height: 40px;
  margin-left: 130px;
  border: none;
  border-radius: 25px;
  background-color: var(--colour1);
  font-size: 16px;
  color: #ffffff;
  font-weight: semi-bold;
  align-items: center;
  cursor: pointer;
}

.rectangle2 {
  width: 393px;
  height: 90px;
  left: 481px;
  top: 628px;
  margin-left: 30px;
  margin-top: 25px;
  align-items: center;

  background: #ffffff;
  border-radius: 10px;
}

.span1 {
  /* Not Yet Referred */
  margin-left: 130px;
  padding-top: 50px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height */

  color: #000000;
}

.feedback {
  /* Feedback : */
  width: 170.61px;
  height: 27px;
  left: 483.39px;
  top: 746px;
  margin-left: 30px;
  margin-top: 30px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}

.rectangle3 {
  width: 393px;
  height: 35px;
  left: 481px;
  top: 628px;
  margin-left: 30px;
  margin-top: 20px;
  align-items: center;

  background: #ffffff;
  border-radius: 10px;
}

#seemore-btn {
  margin: 25px 0px 20px 0px;
  width: 170px;
  height: 40px;
  margin-left: 140px;

  border: none;
  border-radius: 25px;
  background-color: var(--colour1);
  font-size: 16px;
  color: #ffffff;
  font-weight: semi-bold;
  align-items: center;
  cursor: pointer;
}

#view-btn {
  /* View */

  width: 49px;
  height: 30px;
  left: 1240px;
  top: 600px;
  
  margin-left: 250px;

  font-family: "Poppins";
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  border: none;
  background-color: white;

  cursor: pointer;
  /* identical to box height */

  color: #000000;
}

.span2 {
    /* Po. No */
    margin-left: 10px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* identical to box height */
  
    color: #000000;
  }
